<app-navbar></app-navbar>

<div class="container">
  <h1>Hello</h1>

<h2>Username : {{name}}</h2>

<img [src]="imageSrc"/>

<button class="btn btn-primary" [disabled]="isDisabled"> Disabled </button>

<button (click)="clickMe()" > Event Binding </button>

<!-- <input [value]="name" (keyup)="handleChange($event)" name="changeName" placeholder="change name" class="form-control my-5"/> -->

<!-- ngModel -->
<!-- [] () -->
<!-- [()] -->
<input class="form-control my-5" [(ngModel)]="name" placeholder="ng model input" />

<div class="container">
  <div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
  </div>
</div>
</div>

<app-footer></app-footer>